@{
    Layout = "_LayoutStaff.cshtml";
}
<h2>@ViewBag.BarberName'in Randevuları</h2>

@if (ViewBag.Appointments.Count == 0)
{
    <p>Henüz bir randevu alınmamış.</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Hizmet</th>
                <th>Müşteri Adı</th>
                <th>Tarih ve Saat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var appointment in ViewBag.Appointments)
            {
                <tr>
                    <td>@appointment.Id</td>
                    <td>@appointment.Service</td>
                    <td>@appointment.CustomerName</td>
                    <td>@appointment.DateTime.ToString("yyyy-MM-dd HH:mm")</td>
                </tr>
            }
        </tbody>
    </table>
}
